

<form [formGroup]="raiderForm" (ngSubmit)="onSubmit()" novalidate 
class="border border-3 rounded border-dark p-3">
    <div class="mb-3">
        <label>Character Name</label>
        <input type="text" formControlName="name" class="form-control" placeholder="Character Name" required>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Email" required>
    </div>

    <div class="mb-3">
        <label for="raid_name">Raid Selection</label>
        <select class="form-control form-select form-select-lg mb-3" formControlName="raid_name" placeholder="" required>
            <option value="Plane-of-Time" active>Plane of Time</option>
            <option value="Plane-of-War">Plane of War</option>
            <option value="Molten-Core">Molten Core</option>
            <option value="Naxxramas">Naxxramas</option>
          </select>
    </div>

    <div class="mb-3">
        <label>Gear Rank</label>
        <input type="number" formControlName="gear_rank" class="form-control" placeholder="Gear Rank" required>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="!raiderForm.valid">Signup</button>
        &nbsp; &nbsp; &nbsp; &nbsp; 
        <button type="reset" class="btn btn-danger">Reset</button>
    </div>

</form>

